#sidebar {
    grid-area: sidebar;
    height: 100%;
    /* background-color: #263043; */
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    background-color: #fff;
    border-radius: 2px;
}



.active-link {
    background-color: #7a5cfa !important;
    color: white;
}

a{
    text-decoration: none;
}

.a-l , .icon , li{
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
    border: none;
}

.sidebar-title {
    display: flex;
    padding: 15px 30px 30px 30px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.sidebar-title>span {
    display: none;
}

.sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}

.sidebar-list {
    padding: 0;
    list-style-type: none;
}

.sidebar-list-item {
    padding: 20px 20px 20px 20px;
    font-size: 18px;
    border-radius: 20px;
}

.sidebar-list-item:hover {
    background-color: rgba(83, 83, 83, 0.2);
    cursor: pointer;
    border-radius: 20px;
}

.sidebar-list-item>a {
    text-decoration: none;
    color: #555557;
}

.sidebar-responsive {
    display: inline !important;
    position: absolute;
    /* z-index: 12 !important; */
}

/* container query  */
@media screen and (max-width: 800px) {
    .container {
        width: 99% !important;
    }
}